.course-conditions {
    background: #24a3e5;

    .points {
        .points-list {
            margin: 0 0 60px;
        }
    }
}

.conditions-list {
    font-display: 'Arial', 'Roboto', sans-serif;
    font-size: 1em;
    color: #00295d;
    max-width: 260px;
    margin: 0 auto;
    text-align: center;
}

.conditions-list__item {
    margin: 15px 0;
    font-family: 'Arial', 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #f3f3f3;
    text-align: center;
}

.conditions {
    margin: 0 0 40px;
}

.points-list {
    text-align: center;
}

.points-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-display: 'Arial', 'Roboto', sans-serif;
    font-size: 1em;
    color: #00295d;

    .plus {
        font-size: 1.71em;
        color: #ffffff;
    }
}

.points-list__item {
    width: 150px;
    padding: 0 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.points-value {
    font-family: 'Arial', 'Roboto', sans-serif;
    margin: 0 0 20px;
    color: #ffc000;
    font-size: 3.77em;
}

.points-list-name {
    flex: 0 1 100%;
    margin: 0 0 15px;
}

.points-description {
    font-size: 14px;
    color: #00295d;
}

.points-addition, .points-addition-item {
    max-width: 530px;
    margin: 0 auto;
    text-align: center;
}

.points-addition-item {
    margin: 0 0 40px;

    &:last-child {
        margin: 0;
    }
}

.points-addition {
    margin: 0 auto 20px;
}

.points-addition-item__text {
    font-family: 'Arial', 'Roboto', sans-serif;
    font-size: 1em;
    max-width: 550px;
    margin: 0 auto 35px;
    text-align: center;
    color: #00295d;
}

.points-addition-item__img {
    margin: 0 auto;
    box-shadow: 0px 8px 24px 0px rgba(24, 52, 88, 0.57); 
}

.points-addition-item__img-certificate {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.points-addition-item__img-sticker {
    width: 165px;
    height: 165px;
    background: url('../../img/sticker.png') center center no-repeat;
    box-shadow: none;
}

@media screen and (max-width: 580px) {
    .points-list__item {
        width: 120px;
    }
}