.course-theme {
    background: #f3f3f3;

    .theme-catalog {
        max-width: 785px;
        margin: 0 auto 35px;
    }

    .button-wrapper {
        text-align: center;
    }
}

.course-theme-description {
    max-width: 620px;
    font-family: 'Arial', 'Roboto',sans-serif;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto 30px;
    color: #666666;
}

.theme-card__info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.theme-card__info-number {
    font-family: 'Arial', 'Roboto', sans-serif;
    margin: 0 10px 0 0;
    font-weight: 700;
    font-size: 1.26em;
    color: #666666;
}

.theme-card__info-name {
    font-family: 'Arial', 'Roboto', sans-serif;
    margin: 0 10px 0 0;
    font-weight: 700;
    font-size: 1.26em;
    color: #666666;
}

.theme-card__info-count {
    margin: 0 7px 0 0;
    font-family: 'Arial', 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #999999;
}

.book-count__icon {
    display: inline-block;
    width: 18px;
    height: 12px;
    margin: 0 5px 0 0;
    background: url('../../img/icons/dop-materials.png') center center no-repeat;
}

.book-count__num {
    margin: 0 7px 0 0;
    font-family: 'Arial', 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #999999;
}

.catalog__item {
    width: 100%;
    margin: 0 0 10px;

    &:last-child {
        margin: 0;
    }
}

.theme-card {
    position: relative;
    min-height: 70px;
    padding: 20px 85px 20px 40px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 7.76px 0.24px rgba(0, 0, 0, 0.09); 
}

.theme-card__open {
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-family: 'Arial', 'Roboto', sans-serif;
    font-size: 0.85em;
    font-weight: 400;
    color: #999999;
    cursor: pointer;

    .icon {
        display: inline-block;
        width: 10px;
        height: 5px;
        margin: 0 0 1px;
        background: url('../../img/icons/icon_arrow-copy-2.png') center center no-repeat;
    }
}

.theme-card__go-to {
    position: absolute;
    top: 0;
    right: 0;
    width: 65px;
    height: 55px;
    background: url('../../img/icons/normal-go.png') center center no-repeat;
    cursor: pointer;

    &.hover {
        background: url('../../img/icons/hover-go.png') center center no-repeat;

        .theme-card__info {
            display: block;
        }
    }
}

.theme-card__info {
    .icon-locked {
        margin: 0 10px 0 0;
    }
}

.theme-card-submenu {
    font-size: 0.85em;
    position: absolute;
    top: 30px;
    right: 20px;
    min-width: 130px;
    padding: 10px 15px;
    background: #ffffff;
    box-shadow: 0px 0px 7.76px 0.24px rgba(0, 0, 0, 0.09); 
    color: #666666;
}

@media screen and (max-width: 576px) {
    .theme-catalog-container {
        max-width: none;
        width: 100%;
        padding: 0;
    }

    .theme-card {
        padding: 30px 80px 20px 30px;
    }
}
