.course-description-body {
    padding: 0 10px;
    
    .button-wrapper {
        text-align: center;
    }
}

.description-list {
    max-width: 780px;
    margin: 0 auto 30px;
    padding: 0 0 0 20px;
}

.description-list__iten {
    list-style: decimal;
    color: #666666;
}

.description-list__iten {
    margin: 0 0 20px;

    &:last-child {
        margin: 0;
    }

    p {
        font-family: 'Arial', 'Roboto';
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: #666666;
    }
}

