.course-case {

}

.course-case-video {
    position:relative;
    padding-bottom: 56.25%;/*пропорции видео 16:9 */
    height:0;

    iframe {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}

@media screen and (max-width: 992px) {
   
}

@media screen and (max-width: 576px) {
    
}