.feedback {
    background: url(../../img/bg.png) center center repeat;
}

.feedback-description {
    margin: 0 0 25px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1em;
    text-align: center;
    color: #ffffff;
}

.feedback-form {
    max-width: 460px;
    padding: 35px 30px;
    margin: 0 auto;
    background: #3778cc;

    .button-wrapper {
        text-align: center; 
    }
}

.feedback-form__item {
    margin: 0 0 15px;
}

.feedback-form__textarea {
    background: #ffffff;
    width: 100%;
}

.feedback-form__button {
    width: 140px;
    height: 40px;
    background: #3067b0;
    color: #ffffff;
}