.how-to {
    .link {
        width: 100%;
        display: block;
        text-align: center;
    }
}

.how-to-image {
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background: url('../../img/04.jpg') center center no-repeat;
}

.image-sizer {
    display: block;
    height: 0;
    padding-top: 100%;
}

.how-to-image--mobile {
    display: none;
}

@media screen and (max-width: 995px) {
    .how-to-image {
        background-size: contain;
    }
}

@media screen and (max-width: 621px) {
    .how-to-image--desktop {
        display: none;
    }

    .how-to-image--mobile {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}