.reviews {
    background: #f3f3f3;
}

.reviews-list {
    max-width: 775px;
    margin: 0 auto 25px;

    .button-wrapper {
        text-align: center;
    }
}

.reviews-list-title {
    margin: 0 0 15px;
    font-family: 'Arial', 'Roboto', sans-serif;
    color: #666666;
    text-align: center;
}

.reviews-list__item {
    margin: 0 0 10px;

    &:last-of-type {
        margin: 0 0 30px;
    }
}

.review {
    display: flex;
    flex-flow: row nowrap;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 8px 7.76px 0.24px rgba(0, 0, 0, 0.09); 
    border-radius: 3px;
}

.review__photo {
    flex: 0 0 50px;
    height: 100%;
    margin: 0 15px 0 0;

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: url('../../img/avatar.png') center center no-repeat;
    }
}

.review__body {
    .rating {
        margin: 0 0 12px;
    }
}

.review__info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 20px;
}

.review__info-name {
    margin: 0 10px 0 0;
    font-size: 0.87em;
    font-weight: 700;
    color: #458cc8;
    text-decoration: none;
}

.review-date {
    font-size: 0.87em;
    font-family: 'Arial', 'Roboto', sans-serif;
    font-weight: 400;
    color: #999999;
}

.review__text {
    margin: 0 0 15px;
    font-family: 'Arial', 'Roboto', sans-serif;
    font-size: 0.87em;
    line-height: 1.42;
    color: #333333;
    text-align: justify;
}

.review__likes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    .likes-icon {
        margin: 0 7px 0 0;
    }
}

.review-form {
    max-width: 780px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
}

.review__form-rating {
    margin: 0 0 20px;

    .rating-star {
        width: 22px;
        height: 22px;
        background: url('../../img/icons/star-big.png') center center no-repeat;
        cursor: pointer;
        background-size: cover;

        &:hover, &.active {
            background: url('../../img/icons/star-big-active.png') center center no-repeat;
            background-size: cover;
        }
    }
}

.review-form-title {
    font-family: 'Arial','Roboto', sans-serif;
    font-size: 1em;
    margin: 0 0 15px;
    color: #999999;
}

.review-form__textarea {
    height: 90px;
}