.top {
    position: relative;
    padding: 60px 0 90px;
    background: url('../../img/bg.png') center center repeat;
}

.container-top {
    position: relative;
    box-sizing: border-box;
}

.top-title {
    font-family: 'Oswald', 'Roboto', 'Arial', sans-serif;
    max-width: 670px;
    margin: 0 auto 45px;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.33em;
    color: #ffffff;
    text-align: center;
}

.top-description {
    font-family: 'Arial', 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #ffffff;
    text-align: center;
}

.top-info {
    margin: 0 0 60px;
}

.top-description {
    font-family: 'Arial', 'Roboto', 'Oswald';
    color: #ffffff;
}

.burger {
    cursor: pointer;
}

.burger-top, .burger-middle, .burger-bottom {
    width: 100%;
    height: 3px;
    background: #ffffff;
}

.burger-top, .burger-middle {
    margin: 0 0 5px;
}

.page-nav_button {
    cursor: pointer;
}