body {
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
}

.logo {
    background: url('../img/logo_GetAClass.png') center center no-repeat;
}

.buttons-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.buttons-group__item {
    display: inline-block;
    list-style: none;
    margin: 0 10px 8px;
}

.buttons-group__item {
    flex: 0 0 220px;
    height: 60px;
    padding: 0 30px;
    color: #ffffff;
    font-size: 1.28em;
    background: #3778cc;

    .button {
        box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.09);
    }
}

.button {
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.button-icon {
    display: inline-block;
    height: 16px;
    margin: 0 10px 0 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rating {
    margin: 0;
    padding: 0;
}

.rating-star {
    width: 12px;
    height: 12px;
    display: inline-block;
    list-style: none;
    background: url('../../img/icons/star.png') center center no-repeat;

    &.active {
        background: url('../../img/icons/star-active.png') center center no-repeat;
    }
}

.section-title {
    margin: 0 0 30px !important;
    font-family: 'Arial', 'Roboto', sans-serif;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 3em;
    color: #000000;

    &--white {
        color: #ffffff;
    }
}

.icon-check {
    width: 16px;
    background-image: url('../../img/icons/stages.png');
}

.icon-vertical-dots {
    width: 20px;
    background-image: url('../../img/icons/steps.png');
}

.icon-box {
    width: 25px;
    background-image: url('../../img/icons/points.png');
}

.icon-time {
    width: 20px;
    background-image: url('../../img/icons/star.png');
}

.section {
    padding: 60px 0 70px;
}

.button-ellipse {
    font-family: 'Arial', 'Roboto';
    font-size: 1em;
    color: #999999;
    border-radius: 20px;
    background: #e6e6e6;
}

.section-button {
    min-width: 140px;
    min-height: 40px;
}

.button-show {
    border: 2px dashed #cdcdcd;
}

.icon-locked {
    width: 9px;
    height: 13px;
    background: url('../../img/icons/lock.png') center center no-repeat;
}

.link {
    font-family: 'Arial', 'Roboto', sans-serif;
    font-size: 1em;
    color: #3067b0;
}

.likes-icon {
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url('../../img/icons/like.png') center center no-repeat;
}

.likes-icon__num {
    font-size: 0.87em;
    color: #999999;
}

.textarea {
    display: block;
    width: 100%;
    padding: 10px;
    resize: none;
    background: #fafafa;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 1em;
    color: #333333;

    &::placeholder {
        font-size: 1em;
        color: #999999;
    }
}

.review-form__text {
    margin: 0 0 20px;
}

.review-form {
    .button-wrapper {
        text-align: center;
    }
}

.review-form__button {
    width: 140px;
    height: 40px;
    background: #3067b0;
    color: #ffffff;
}

.input {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 1em;
    color: #333333;

    &::placeholder {
        font-size: 1em;
        color: #999999;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 920px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 576px) {
    body {
        font-size: 14px;
    }

    .container {
        max-width: 340px;
        padding: 0 20px;
    }

    .buttons-group__item {
        flex: 0 0 44%;
        padding: 0 10px;
        font-size: 1em;
    }
}

@media screen and (max-width: 375px) {
    .buttons-group__item {
        flex: 0 0 100%;
    }
}