.logo-block {
    text-align: center;
}

.header-logo {
    width: 173px;
    height: 36px;
    margin: 0 auto 10px;
}

.course-info__name {
    font-family: 'Arial', 'Roboto', sans-serif;
    margin: 0 10px 15px;
    font-size: 1em;
    color: #ffffff;
}

.course-info {
    margin: 0 0 70px;
}

.container-nav {
    position: absolute;
    top: -30px;
    left: 0;
}

.page-nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    .burger {
        width: 20px;
    }
}

.page-nav_button-prev {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;

    .icon {
        width: 10px;
        height: 15px;
        margin: 0 10px 0 0;
        background: url('../../../img/icons/arrow_left.png') center center;
    }
}

.main-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);

    &.active {
        display: block;
    }
}

.main-menu-container {
    max-width: 340px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-menu-list {
    text-align: center;
}

.main-menu-list__item {
    margin: 0 0 25px;

    &:last-child {
        margin: 0;
    }

    .link {
        font-family: 'Arial', 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        color: #ffffff;
        text-decoration: none;
    }
}

.main-menu-close-btn {
    position: absolute;
    right: 10px;
    top: 30px;
    width: 20px;
    height: 20px;
    background: url('../../../img/icons/close1.png') center center no-repeat;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .page-nav {
        padding: 0 10px;
    }
}