section.course-conditions.section
    .container
        h2.section-title.section-title--white Условия курса

    .container
        .conditions
            ul.conditions-list Курс считается пройденным если:
                li.conditions-list__item Пройдены все этапы (темы курса)
            ul.conditions-list Ограничения
                li.conditions-list__item Курс по времени неограничен
    .container
        .points
            ul.points-list 
                div.points-list-name Баллы
                li.points-list__item
                    .points-value 240
                    .points-description За прохождение
                        br 
                        |групп и шагов
                span.plus +
                li.points-list__item
                    .points-value 50
                    .points-description Дополнительно
                        br
                        | за прохождение курса
            .points-addition
                .points-addition-item
                    .points-addition-item__text После прохождения курса вы получите сертификат от преподавателя
                    img.points-addition-item__img.points-addition-item__img-certificate(src="./img/Hue_Saturation-1.png")
                .points-addition-item
                    .points-addition-item__text А также стикер  в подарок от GetAClass 
                    .points-addition-item__img.points-addition-item__img-sticker