section.course-description.section
    .container
        h2.section-title Описание курса
        .course-description-body
            ol.description-list
                li.description-list__iten
                    p Системная подача материала по математике в соответствии со 
                        |школьной программой и материалом, необходимым для решения задач 
                        |повышенной сложности, встречающихся в олимпиадах. 
                    p Свободное владение методами решения задач всех разделов школьной 
                        |математики, владение стандартными схемами решения задач. 
                li.description-list__iten
                    p Умение решать одну и ту же задачу несколькими разными способами, 
                        |с выбором наиболее оптимального. Владение арифметикой, а также методами 
                        |сравнения действительных чисел, подходами, позволяющими проводить сравнение 
                        |наименее затратным путем. 
                li.description-list__iten
                    p Умение проанализировать и оценить свой ответ и свое решение на наличие 
                        |логически неверных шагов, проанализировать его с точки зрения математической 
                        |логики, здравого смысла, повседневного опыта. Прояснение учащимся методики 
                        |работы сКИМ, выработка умения правильно читать текст задания, понимать вопросы. 
                        |Заполнение бланков с соблюдением требований.
            .button-wrapper
                button.button.button-ellipse.section-button.button-show Показать все