section.course-theme.section
    .container
        h2.section-title Темы курса
        .course-theme-description Теория, видео, задачи, помогут разобраться и понять задачу. 
            | Дополнительные материалы помогут более детально разобраться с каждой темой
    .container.theme-catalog-container
        ul.catalog.theme-catalog
            li.catalog__item
                .theme-card
                    .theme-card__info
                        span.theme-card__info-number 1
                        span.theme-card__info-name Вес тела
                        span.theme-card__info-count (110/21) 
                        .book-count
                            span.book-count__icon
                            span.book-count__num 3
                    .theme-card__go-to.hover
                        .theme-card-submenu
                            ul
                                li Перейте к шагам
                    .theme-card__open Раскрыть 
                        span.icon
            li.catalog__item
                .theme-card
                    .theme-card__info
                        span.icon.icon-locked
                        span.theme-card__info-number 2
                        span.theme-card__info-name Закон Гука
                        span.theme-card__info-count (110/21) 
                        .book-count
                            span.book-count__icon
                            span.book-count__num 3
                    .theme-card__go-to
                    .theme-card__open Раскрыть 
                        span.icon
            li.catalog__item
                .theme-card
                    .theme-card__info
                        span.icon.icon-locked
                        span.theme-card__info-number 3
                        span.theme-card__info-name Сила трения
                        span.theme-card__info-count (110/21) 
                    .theme-card__go-to
                    .theme-card__open Раскрыть 
                        span.icon
            li.catalog__item
                .theme-card
                    .theme-card__info
                        span.icon.icon-locked
                        span.theme-card__info-number 4
                        span.theme-card__info-name Коэффициент трения
                        span.theme-card__info-count (110/21) 
                        .book-count
                            span.book-count__icon
                            span.book-count__num
                    .theme-card__go-to
                    .theme-card__open Раскрыть 
                        span.icon
            li.catalog__item
                .theme-card
                    .theme-card__info
                        span.icon.icon-locked
                        span.theme-card__info-number 5
                        span.theme-card__info-name Инерция
                        span.theme-card__info-count (110/21) 
                        .book-count
                            span.book-count__icon
                            span.book-count__num 1
                    .theme-card__go-to
                    .theme-card__open Раскрыть 
                        span.icon
    .container
        .button-wrapper
            button.button.button-ellipse.section-button.button-show Показать все
