section.section
    .container
        h2.section-title Пример задачи
    .container.container-video
        .course-case-video
            <iframe width="780" height="450" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>