section.feedback.section
    .container
        h2.section-title.section-title--white Остались вопросы?
        .feedback-description Напишите нам, мы с радостью вам ответим
    .container
        .feedback-form
            .feedback-form__item
                input.input(type="text" placeholder="Имя")
            .feedback-form__item
                input.input(type="email" placeholder="Email")
            .feedback-form__item
                textarea.textarea.feedback-form__textarea(placeholder="Введите текст")
            .button-wrapper
                button.button.button-ellipse.feedback-form__button Отправить