.how-to.section
    .container
        h2.section-title Как проходит обучение
    .container
        span.how-to-image.how-to-image--desktop(role="img" aria-label="Как проходит обучение")
            span.image-sizer
        img.how-to-image--mobile(src="../img/041.png", alt="Как проходит обучение")
        a.link(href="#") Пройти тест