.reviews.section
    .container
        h2.section-title Мнение о курсе
    .container
        ul.reviews-list
            .reviews-list-title 3 отзыва
            li.reviews-list__item
                .review
                    .review__photo
                        .avatar
                    .review__body
                        ul.rating
                            li.rating-star.active
                            li.rating-star.active
                            li.rating-star.active
                            li.rating-star.active
                            li.rating-star
                        .review__info
                            a(href="").link.review__info-name Хаят Шарипова
                            span.review-date 10 ноя 2018 в 19:49
                        .review__text 
                            p "Годограф" стал для меня взлетной полосой к тем вершинам, 
                                |о которых я и вообразить не могла.Хотелось бы выразить слова благодарности 
                                |за помощь преподавателей.
                                
                            p В годографе русский у меня вела Алина Литвиненко. 
                                |В школе училась на стабильные тройки,но курсы помогли мне систематизировать
                                |все мои знания и расставить все по полочкам.Занятия построили не только 
                                |твёрдую базу, но и научили справляться со стрессом во время экзамена.Помню с каким 
                                |трепетом обновляла страницу с результатами ЕГЭ и преподаватели разделяли моё волнение. 
                                |Результат в 96 баллов доказывает эффективность занятий .
                            p Обществознание у меня вела Ася Зоря. Мне очень понравился 
                                |Ее подход.Занятия не только подготовили к ЕГЭ, но и развили социальное
                                | мышление и расширили кругозор. Слушать преподавателя очень интересно, 
                                |поэтому информация запоминается очень хорошо. Занятия построены таким 
                                |образом,что в конце каждого урока мы повторяем пройденный материал и 
                                |освежаем в памяти темы с прошлых занятий.
                        .likes.review__likes
                            span.icon.likes-icon
                            .likes-icon__num 2
            li.reviews-list__item
                .review
                    .review__photo
                        .avatar
                    .review__body
                        ul.rating
                            li.rating-star.active
                            li.rating-star.active
                            li.rating-star.active
                            li.rating-star.active
                            li.rating-star.active
                        .review__info
                            a(href="").link.review__info-name Андрей Хапов
                            span.review-date 10 ноя 2018 в 19:49
                        .review__text 
                            p Занимался в "Годографе" в 2015-16 уч.г. на курсах подготовки к ЕГЭ по 
                            |математике и информатике. По математике, так получилось, в течение года я был у 
                            |двух преподавателей: Анны Подшиваловой и Германа Липатова. С первой частью у меня 
                            |особенных проблем не возникало, но с Анной удалось закрыть все пробелы окончательно, 
                            |как и отработать 13 номер второй части. 
                            p Ну а благодаря Герману абсолютно исчез страх перед остальными номерами с 14 по 19. 
                            |Хотелось бы отметить высокий профессионализм преподавателя - ведь мало просто 
                            |объяснить материал, нужно научить, как его правильно подать на экзамене, чтобы не 
                            |потерять нужных баллов. Более того, на занятиях у Германа всегда достигается в 
                            |определенном плане "домашняя" атмосфера, что действительно подталкивало учиться. 
                            |Чем ближе преподаватель к учащимся, думаю, тем эффект от обучения больше). 
                            p По информатике занятия вел Мельников Сергей. На мой взгляд, это один из лучших 
                            |преподавателей, которых я встречал на данный момент за всю жизнь. Умение легко и 
                            |доступно подать материал, очень продуктивные занятия, отзывчивость - все это об 
                            |этом человеке. Благодаря нему мой балл подскочил с промежуточных 50-55 до 84. 
                            |За что огромное спасибо!
                        .likes.review__likes
                            span.icon.likes-icon
                            .likes-icon__num 2
            .button-wrapper
                button.button-show.button.button-ellipse.section-button Показать ещё
    .container
        .review-form
            .review-form-title Оставьте оценку
            .review__form-rating
                ul.rating
                    li.rating-star
                    li.rating-star
                    li.rating-star
                    li.rating-star
                    li.rating-star
            .review-form__text
                textarea(placeholder="Напишите отзыв").textarea.review-form__textarea
            .button-wrapper
                button.button.button-ellipse.review-form__button Опубликовать