section.top
    .container.container-top
     //= ./../header/header.pug
    .container
        h1.top-title СИЛЫ В ПРИРОДЕ. 
            |ЭНЦИКЛОПЕДИЯ ЭЛЕМЕНТАРНОЙ ФИЗИКИ.
        .top-info.buttons-group
            button.button.buttons-group__item 
                span.button-icon.icon-check
                |21 этап(ов)
            button.button.buttons-group__item 
                span.button-icon.icon-vertical-dots
                |74 шага(ов)
            button.button.buttons-group__item 
                span.button-icon.icon-box
                |80 балла(ов)
            button.button.buttons-group__item 
                span.button-icon.icon-time
                |42 часа(ов)
        .top-description Доступ к курсу ограниечн
    .main-menu
        .main-menu-container
            ul.main-menu-list
                li.main-menu-list__item 
                    a(href="#").link Описание курса
                li.main-menu-list__item 
                    a(href="#").link Темы курса
                li.main-menu-list__item 
                    a(href="#").link Пример задачи
                li.main-menu-list__item 
                    a(href="#").link Условия курса
                li.main-menu-list__item 
                    a(href="#").link Как проходит обучение
                li.main-menu-list__item 
                    a(href="#").link Мнение о курсе
                li.main-menu-list__item 
                    a(href="#").link Написать вопрос
        .main-menu-close-btn