    naw.page-nav.container-nav
        .page-nav_button.page-nav_button-prev
            .icon
            span Назад
        .page-nav_button
            .burger
                .burger-top
                .burger-middle
                .burger-bottom
    header.page-header
        .logo-block
            .logo.header-logo
            .course-info
                .course-info__name Авторский курс
                ul.rating
                    li.rating-star.active
                    li.rating-star.active
                    li.rating-star.active
                    li.rating-star.active
                    li.rating-star

