<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GetAClass</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    //= teamplates/components/sections/top.pug
    //= teamplates/components/sections/course-description.pug
    //= teamplates/components/sections/course-theme.pug
    //= teamplates/components/sections/course-case.pug
    //= teamplates/components/sections/course-conditions.pug
    //= teamplates/components/sections/how-to.pug
    //= teamplates/components/sections/reviews.pug
    //= teamplates/components/sections/feedback.pug
    //= teamplates/components/footer/footer.pug
    script(src="./js/app.js")
</body>
</html>